/*Custom CSS*/

.login input, .signup input{

	border: none;
	border-radius: 5px;
	padding: 10px;
	outline: none;
	background-color: #f1f1f1;
	width: 65%;

}

.login .card{

	width: 70%;
	margin: 170px;
	border-radius: 25px;

}

.signup .card{

	width: 70%;
	margin: 150px 170px;
	border-radius: 25px;

}

.dashboard .card, .offcanvas-header, .offcanvas-body{

	background-color: #80808040;

}

nav{

	background-color: #0181ff;

}

.navbar-toggler:focus{

    box-shadow: none;
    
}

.list-group{

	padding-left: 12px;

}

.list-group-item{

	padding: 20px;

}

.logout{

	padding-right: 20px;

}

td span{

	cursor: pointer;

}
